/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

html,
body {
  height: 100%;
}

.page-node .field.field-name-body,
.page-node .field.field-name-field-address {
  margin: 30px 0;
  font-size: 1.1em;
}

.spec-table th {
  margin: 1em;
  width: 100px;
  background: #f2f2f2;
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.spec-table td {
  margin: 1em;
  background: #fff;
  padding: 20px;
  font: 0.9em Courier, Monotype;
  border-bottom: 1px solid #f2f2f2;
}

#map img {
  max-width: inherit;
}

/* report design */

.pane-views-exp-markers-report-list {
  margin: 10px 0 40px 0;
}

#markers-list-view .report {
  min-height: 180px;
  padding: 0 0 20px 0;
  margin: 0 0 40px 40px;
  border-bottom: 1px solid #f2f2f2;
}

.view-markers .list-title {
  line-height: 1.5em;
}

/* comments */

.management-comment .field-item {
  border-left: 3px solid #c00;
  padding-left: 10px;
  font-style: italic;
  color: #666
}

.submitted {
  margin-bottom: 1em;
  font-style: normal;
  color: #999;
}

div.show-markers:hover {
  background: #ccc;
}

div.show-markers span {
  display: block;
  margin-top: 10px;
  color: #999;
  font-weight: 700;
}

div.show-markers,
div.no-markers {
  clear: left;
  min-height: 33px;
  padding: 7px;
  float: left;
}

div.no-markers {
  float: left;
  margin: 10px 5px 0 -10px;
  padding: 0;
  width: 25px;
}

div.show-markers {
  margin: -100px 0 0 -40px;
  cursor: pointer;
  border: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  -webkit-border-right-top-radius: 4px;
  -webkit-border-right-bottom-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.pull-left.thumbnail {
  margin: 0 10px 0 0;
}

.report .field-name-field-geo {
  display: none;
}

.label .col-md-6 {
  margin: 2px 2px 0 0;
  /* padding: 0; */
  min-height: 18px;
}

.report header {
  margin: 10px 0;
}

/* report detail */
.node-report .row-fluid {
  margin-top: 10px;
}

body.page-list div#map {
  height: 400px;
  width: 100%;
}

body.page-node div#map {
  height: 250px;
}

body.toolbar-drawer {
  padding-top: 0 !important;
}

.report-log ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#admin-menu {
  z-index: 9999;
}

.marker-category-wrapper a {
  display: block;
}

.block-title.block-title {
  font-size: 2em;
}

/* Map Styles*/
#block-markaspot-logic-taxonomy-category,
#block-markaspot-logic-taxonomy-status {
  margin: 1px;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111141);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  opacity: 0.4;
  border: none;
  box-shadow: none;
  -webkit-transition: opacity 500ms ease-out;
  -moz-transition: opacity 500ms ease-out;
  -o-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
  /* padding: 10px; */;
}

#block-markaspot-logic-taxonomy-category:hover,
#block-markaspot-logic-taxonomy-status:hover {
  opacity: 1;
  border: none;
  box-shadow: none;
}

#block-markaspot-logic-taxonomy-category h2,
#block-markaspot-logic-taxonomy-status h2 {
  display: none;
}

#block-markaspot-logic-markaspot-map {
  display: none;
}

/*footer header*/

#footer-columns {
  padding: 10px;
}

.footer section {
  background: none;
  border: none;
}

.footer {
  padding: 0;
}

.footer .span3 {
  margin: 0 10px 0 0;
}

.footer section {
  box-shadow: none;
  padding: 0;
  border: 0;
}

.footer .block-title {
  display: none;
}

.region.region-footer {
  padding: 10px 15px;
  color: #fff;
}

/* Footer Menue */

footer.footer .region.region-footer section.block-menu {
  margin: 0;
  float: right;
}

footer.footer .region.region-footer section.block-menu li a {
  margin: 0;
  padding: 0 20px;
}

footer.footer .region.region-footer section.block-menu li a:hover,
footer.footer .region.region-footer section.block-menu li a:focus {
  text-decoration: underline;
}

footer.footer .region.region-footer section.block-menu li a.active-trail {
  font-weight: 700;
}

footer.footer .region.region-footer section.block-menu li {
  float: left;
  margin: 0;
}

body.page-map {
  /*  padding: 20px;*/;
}

.page-map .row.map-tools {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
}

.row.map-tools aside {
  width: 320px;
  margin: 20px 100px;
}

.page-map .navbar-inner,
.page-map .footer {
  opacity: 0.4;
  -webkit-transition: opacity 500ms ease-out;
  -moz-transition: opacity 500ms ease-out;
  -o-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

.page-map .navbar-inner:hover,
.page-map .footer:hover,
.page-map .footer:focus {
  opacity: 0.9;
}

.page-map .leaflet-top {
  top: 60px;
left: 10px;
}

div.marker-status {
  float: right;
}

span.marker-status,
span.marker-category {
  display: inline-block;
  width: 49%;
  font-size: 85%;
  margin: 0 1px 0 0;
}

.marker-status.col-5F9EA0,
.marker-status.col-5F9EA0 a {
  background: no-repeat scroll right center #5f9ea0;
  color: yellow;
  font-weight: 400;
}

.marker-status.col-ff6600,
.marker-status.col-ff6600 a {
  background: no-repeat scroll right center #ff6600;
  color: yellow;
  font-weight: 400;
}

.marker-status.col-8fe83b,
.marker-status.col-8fe83b a {
  background: no-repeat scroll right center #8fe83b;
  color: green;
}

.marker-status.col-cc0000,
.marker-status.col-cc0000 a {
  background: no-repeat scroll right center #cc0000;
  color: #fff;
}

.marker-status.col-ff6600,
.marker-status.col-ff6600 a {
  background: no-repeat scroll right center #ff6600;
  color: yellow;
}

.marker-status.col-8fe83b,
.marker-status.col-8fe83b a {
  background: no-repeat scroll right center #8fe83b;
  color: green;
}

.marker-status.col-CCCCCC,
.marker-status.col-CCCCCC a {
  color: #cccccc;
}

.marker-status.col-8B0000,
.marker-status.col-8B0000 a {
  color: #8b0000;
  font-weight: 700;
}

.page-map .marker-status.col-8fe83b,
.page-map .marker-status.col-8fe83b a {
  color: green;
  font-weight: 700;
}

.page-map .marker-status.col-cc0000,
.page-map .marker-status.col-cc0000 a {
  color: #cc0000;
  font-weight: 700;
}

.page-map .marker-status.col-ff6600,
.page-map .marker-status.col-ff6600 a {
  color: #ff6600;
  font-weight: 700;
}

.page-map .marker-status.col-8fe83b,
.page-map .marker-status.col-8fe83b a {
  color: green;
  font-weight: 700;
}

.page-map .marker-status.col-cc0000,
.page-map .marker-status.col-cc0000 a {
  color: #cc0000;
  font-weight: 700;
}

.page-map .marker-status.col-ff6600,
.page-map .marker-status.col-ff6600 a {
  color: #ff6600;
  font-weight: 700;
}

.page-map .marker-category.col-00008B,
.page-map .marker-category.col-00008B a {
  color: #00008b;
  font-weight: 700;
}

.page-map .marker-category.col-0000FF,
.page-map .marker-category.col-0000FF a {
  color: #0000ff;
  font-weight: 700;
}

.page-map .marker-category.col-5F9EA0,
.page-map .marker-category.col-5F9EA0 a {
  color: #5f9ea0;
  font-weight: 700;
}

.page-map .marker-status.col-5F9EA0,
.page-map .marker-status.col-5F9EA0 a {
  background: none;
  color: #5f9ea0;
  font-weight: 400;
}

.page-map .marker-category.col-8B0000,
.page-map .marker-category.col-8B0000 a {
  color: #8b0000;
  font-weight: 700;
}

.page-map .marker-category.col-006400,
.page-map .marker-category.col-006400 a {
  color: #006400;
  font-weight: 700;
}

.page-map .marker-category.col-871F78,
.page-map .marker-category.col-871F78 a {
  color: #871f78;
  font-weight: 700;
}

.page-map .marker-category.col-FFA500,
.page-map .marker-category.col-FFA500 a {
  color: #ffa500;
  font-weight: 700;
}

.page-map .marker-category,
.page-map .marker-status {
  background: none;
}

.page-map a.marker-status:hover,
.page-map a.marker-category:hover {
  color: #000;
}

/* Jumbotrons
-------------------------------------------------- */
/* Base class
------------------------- */

/* Link styles (used on .masthead-links as well) */
.mapheader a,
.region-footer a {
  /* color: rgba(255, 255, 255, 0.9); */
  /* -webkit-transition: all 0.2s ease-in-out; */
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mapheader a:hover,
.region-footer a:hover {
  /* color: #8F8F8F; */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}

/* map @map-page*/

#page-header {
  height: 70px;
  background: url('../logo.png') 15px 50% no-repeat;
}

.page-map #page-header {
  display: none;
}

.not-front .logo.navbar-btn.pull-left,
.front .logo.navbar-btn.pull-left {
  display: none;
}

.page-map .logo.navbar-btn.pull-left {
  display: block;
}

/* Map Styles*/

#block-markaspot-logic-taxonomy-category,
#block-markaspot-logic-taxonomy-status {
  margin: 11px 40px 0 0;
  background: none;
  opacity: 0.8;
  border: none;
  box-shadow: none;
  -webkit-transition: opacity 500ms ease-out;
  -moz-transition: opacity 500ms ease-out;
  -o-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
  float: left;
}

#block-markaspot-logic-taxonomy-category:hover,
#block-markaspot-logic-taxonomy-status:hover {
  opacity: 1;
  border: none;
  box-shadow: none;
}

.page-map .span3 {
  width: 100px;
  /* margin: 79px; */;
}

.page-map .btn.btn-primary {
  width: 110px;
}

.page-map .dropdown-menu > li > a {
  display: block;
}

/*.page-map .dropdown-menu > li > a:before {
    display: inline;
    padding: 0 10px 0 0;
    text-indent: 10px
}*/

#block-markaspot-logic-taxonomy-category h2,
#block-markaspot-logic-taxonomy-status h2 {
  display: none;
}

#block-markaspot-logic-markaspot-map {
  display: none;
}

#map_wrapper_map {
  margin: auto;
  /* Div soll zentriert werden */
  min-height: 100%;
  /* Mindesthöhe für moderne Browser */
  height: auto !important;
  /* Important Regel für moderne Browser */
  height: 100%;
  /* Mindesthöhe für den IE */
  overflow: hidden !important;
  /* FF Scroll-leiste */
  padding: 40px 0 0 40px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.front .navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}


.front .main-container.container.page {
  margin-top: 100px;
}

/*gallery @front page*/

.front .gallery {
  margin: 10px 0;
}

.front .page-header {
  display: none;
}

.page-header {
  padding-bottom: 9px;
  margin: 0 0 20px;
  border-bottom: 1px solid #eee;
}

.row.welcome {
  padding: 10px 0;
}

.welcome-text.well {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

.stage .span5.offset1.thumbnail {
  background: #fff;
}

.carousel {
  margin-top: -150px;
  z-index: -1;
}

/* if you don't use the carousel, you may take a look at the page--front.tpl and find a block there */
.welcome-text.well {
  margin: 4px 0;
  background: none;
}

.region.region-sidebar-second h3 {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.5em;
}

.block-title.block-title {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  text-transform: uppercase;
}

.panel-pane.well,
.region-sidebar-second .well,
.block.block-system.well {
  /* background-image:  url('../images/squairy_light.png'); */
  /* background-image:  url('../images/white_bed_sheet.png'); */
  background: none;
  border: 0;
  box-shadow: none;
}

div.view.view-recent-edits ul,
.block-user ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-fixed-top,
.navbar-fixed-bottom,
.navbar-static-top {
  margin-left: 0;
  margin-right: 0;
}

/* Form styles */

.form-control.form-select {
  border: 1px solid #f2f2f2;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.005);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.005);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.005);
}

#edit-body-und-0-format {
  display: none;
}

.control-label {
  font-weight: 700;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.geolocation-address .form-type-textfield {
  float: none;
}

.geolocation-address {
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  z-index: 9;
  margin: 10px;
  /* float:left; */
  width: 75%;
  position: absolute;
  left: 50px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.geolocation-address-geocode,
.geolocation-client-location {
  color: #fff;
  padding: 2px 10px 3px 10px;
  cursor: pointer;
  margin: 2px 0 0 4px;
}

.geolocation-help {
  font-size: 0.9em;
  color: #999;
  background: #fff;
  padding: 10px;
  margin: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  top: 262px;
  z-index: 9;
  width: 265px;
  right: 10px;
}

.geolocation-help:before {
  font-family: 'Markaspot';
  speak: none;
  font-size: 30px;
  color: #888;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e005";
  float: right;
}

.geolocation-map {
  height: 300px;
}

.geolocation-remove {
  display: none;
}

.fieldset-description,
.description,
.help-block {
  color: #999;
  padding: 0 0 10px 0;
  display: none;
}

.group-tab1 a {
  font-size: 2em;
}

.nav.field-group-bootstrap_fieldgroup_nav.group-tab1.required-fields.nav-pills {
  border-bottom: 1px solid #ccc;
}

.page-node-add .well {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
}

.geolocation-lng-item,
.geolocation-lat-item {
  display: none;
}

.admin-menu .mapheader {
  margin-top: 29px;
}

#map_wrapper_splash {
  background-color: #000;
  width: 100%;
  z-index: 39;
}

#map_wrapper_splash #map {
  height: 600px;
}

.admin-menu #map_wrapper_splash {
  top: 100px;
}

.front .navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}



div.add a h3,
div.list a h3 {
  font-size: 18px;
  /* line-height: 28px; */
  margin: 10px 0;
}

.row-fluid.welcome .list,
.row-fluid.welcome .add {
  margin: 10px 30px;
}

.page-map .navbar-wrapper {
  position: fixed;
  z-index: 34;
  margin-top: 0;
  left: 0;
  right: 0;
}

.report .img-thumbnail {
  margin: 0 10px 10px 0;
}


/* Responsive
-------------------------------------------------- */
/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  /* Remove any padding from the body */


  .report .show-markers {
    display: block;
  }

  .report img.pull-left.thumbnail {
    display: none;
  }

  div.add a h3,
  div.list a h3 {
    font-size: 1.5em;
  }


  .stage p {
    font-size: 2em;
    margin: 0;
    line-height: 1.4em;
    font-weight: 300;
  }

}

/* Desktop
------------------------- */
@media (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  .navbar-fixed-top {
    margin-bottom: 0;
  }

  /* Inline-block quick links for more spacing */
  .quick-links li {
    display: inline-block;
    margin: 5px;
  }

  .report .show-markers {
    display: block;
  }

  .report img.pull-left.thumbnail {
    display: none;
  }
}

@media (min-width: 979px) {
  body {
    padding-top: 0;
  }

  .front .navbar-wrapper {
    top: 0;
  }

  .navbar-tray-open.navbar-horizontal .navbar-wrapper {
    top: 80px;
  }

  .main-container {
    margin: 0 auto;
    min-height: 400px;
  }

  .report .show-markers {
    display: block;
  }

  .report img.pull-left.thumbnail {
    display: none;
  }

  /* Form Transitions*/

}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {

  .front .navbar-wrapper {
    top: 0;
  }

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Widen masthead and social buttons to fill body padding */
  .col-md-4.col-md-offset-1.thumbnail {
    display: none;
  }

  .report .show-markers {
    display: block;
  }

  .report img.pull-left.thumbnail {
    display: none;
  }

  /* Tighten up footer */
  .footer {
    margin: 0 -20px;
  }

  .page-map .row.map-tools {
    position: absolute;
    top: 40px;
  }

  .jumbotron {
    padding-top: 20px;
    padding-bottom: 40px;
  }

}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
    font-size: 120%;
  }

  #page-header {
    display: none;
  }


  /* Flip around the padding for proper display in narrow viewports */
  .navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }

  #edit-submit {
    width: 100%;
  }

  #map_wrapper_splash {
    top: 0;
  }

  .not-front .logo.navbar-btn.pull-left,
  .front .logo.navbar-btn.pull-left {
    display: none;
  }

  .admin-menu #map_wrapper_splash {
    top: 0;
  }

  .front .logo.navbar-btn.pull-left {
    display: none;
  }

  #map_wrapper_splash #map {
    margin: 0;
  }

  .navbar-tray-open.navbar-vertical .navbar-wrapper {
    top: 40px;
  }

  /* .welcome-text.well {
       padding: 2em 4em 2em 4em;
   }*/
  .col-md-4.col-md-offset-1.thumbnail {
    display: none;
  }

  .main-container {
    margin: 0 auto;
  }

  .report img.pull-left.thumbnail {
    display: none;
  }

  .report .show-markers {
    display: block;
  }

  /* Tighten up footer */
  .footer {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-map .row.map-tools {
    position: absolute;
    top: 40px;
  }

  table td {
    word-wrap: break-word;
  }

  /* Report design small */
  #markers-list-view .report {
    padding: 0;
    margin-left: 0;
  }

  .panel-2col-stacked .panel-col-last .inside {
    margin: 0 0 1em 0;
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {

  /* Change up some type stuff */
  h2 small {
    display: block;
  }

  .mapheader .btn {
    display: block;
    margin: 5px auto;
  }

  .navbar-wrapper {
    z-index: 9999;
    margin-top: 0;
  }

  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: fixed;
  }

  /* Container and Map Handling in List View */
  .panel-col-first.panel-panel {
    display: none;
  }

  .report .field-name-field-geo {
    display: block;
  }

  .panel-col-last.panel-panel {
    width: 100%;
  }

  #markers-list-view .report {
    padding: 0 0 20px 0;
  }

  .report div.pull-left.thumbnail,
  .report img.pull-left.thumbnail {
    display: block;
    margin: 0 10px 0 0;
  }

  .report .show-markers {
    display: none;
  }

  .page-map .row.map-tools {
    position: absolute;
    top: 40px;
  }

  /*narrow form styles*/
  #geolocation-address-8-0 {
    width: 100%;
    float: none;
  }

  /* Report design small */
  #markers-list-view .report {
    padding: 0;
    margin-left: 0;
  }

  .panel-2col-stacked .panel-col-last .inside {
    margin: 0 0 1em 0;
  }

}

.tab-content {
  padding: 10px 3px;
}

.tab-content > .tab-pane {
  -webkit-animation-duration: 0;
  -moz-animation-duration: 0;
  -o-animation-duration: 0;
  animation-duration: 0;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: fadeInUp;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: fadeInUp;
  -o-backface-visibility: visible !important;
  -o-animation-name: fadeInUp;
  backface-visibility: visible !important;
  animation-name: fadeInUp;
}

.tab-content > .tab-pane {
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(10px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(10px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* ux customization */

/* frontpage */

